@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --background: 23 0% 95%;
        --foreground: 23 0% 0%;
        --card: 23 0% 90%;
        --card-foreground: 23 0% 10%;
        --popover: 23 0% 95%;
        --popover-foreground: 23 95% 0%;
        --primary: 23 100% 38%;
        --primary-foreground: 0 0% 100%;
        --secondary: 23 10% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: -15 10% 85%;
        --muted-foreground: 23 0% 35%;
        --accent: -15 10% 80%;
        --accent-foreground: 23 0% 10%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 23 0% 90%;
        --border: 23 20% 50%;
        --input: 23 20% 18%;
        --ring: 23 100% 38%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 23 10% 5%;
        --foreground: 23 0% 90%;
        --card: 23 0% 0%;
        --card-foreground: 23 0% 90%;
        --popover: 23 10% 5%;
        --popover-foreground: 23 0% 90%;
        --primary: 23 100% 38%;
        --primary-foreground: 0 0% 100%;
        --secondary: 23 10% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: -15 10% 15%;
        --muted-foreground: 23 0% 60%;
        --accent: -15 10% 15%;
        --accent-foreground: 23 0% 90%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 23 0% 90%;
        --border: 23 20% 18%;
        --input: 23 20% 18%;
        --ring: 23 100% 38%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
